@import "normal.scss";
// bottom
.bottom_wrap{
    height: 655px;
    background-color: #9AD6EF;
}

.bottom{
    width: $width;
    height: 655px;
    margin: 0 auto;
    .footer_link{
        width: 1000px;
        margin:0 10px;
        padding-top: 40px;
        overflow: hidden;
        ul li{
            margin: 3px 0;
        }
        .left_1{
            float: left;
            margin-left: 110px;
            div{
                margin: 3px 0;
                overflow: hidden;
            }

            .link{
                margin-top: 0;
                margin-bottom: 5px;
                font-weight: 700;
                font-size: 18px;
                line-height: 1.2em;
            }

            span{
                float: left;
                width: 108px;
                font-size: 14px;
            }
            a{
                float: left;
                font-size: 1.3em;
            }
        }

        .left_2{
            float: left;
            margin-left: 80px;
            .wechat{
                .w_0{
                    margin-bottom: 5px;
                    font-weight: 700;
                    font-size: 18px;
                    line-height: 1.2em;
                }
    
                ul{
                    .first{
                        color: #00C40C;
                    }
                }
            }
        }

        .right_1{
            float: left;
            margin-left: 80px;
            .first{
                margin-top: 0;
                margin-bottom: 5px;
                font-weight: 700;
                font-size: 18px;
                line-height: 1.2em;
            }
        }
        .right_2{
            float: left;
            margin-left: 80px;
            .first{
                margin-top: 0;
                margin-bottom: 5px;
                font-weight: 700;
                font-size: 18px;
                line-height: 1.2em;
            }
        }
    }
}