@import "size.scss";
// bottom
.bottom_wrap {
    background: url(../img/footer_bg.png) no-repeat,
        linear-gradient(-180deg, rgba(124, 202, 234, 0.9) 0%, rgba(198, 232, 246, 0.46) 96%);
}

.bottom {
    width: $width;
    overflow: hidden;
    margin: 0 auto;
    padding-bottom: 100px;
    .footer_link {
        width: 1000px;
        margin: 0 10px;
        padding-top: 40px;
        overflow: hidden;
        ul li {
            margin: 3px 0;
        }
        .left_1 {
            float: left;
            margin-left: 110px;
            div {
                margin: 3px 0;
                overflow: hidden;
                color: #7c878e;
            }
            .link {
                font-size: 16.8px;
                color: #333;
                margin-top: 0;
                margin-bottom: 5px;
                font-weight: 700;
                font-size: 18px;
                line-height: 1.2em;
            }

            span {
                float: left;
                width: 108px;
                font-size: 14px;
            }
            a {
                float: left;
                font-size: 1.3em;
            }
        }

        .left_2 {
            float: left;
            margin-left: 80px;
            font-size: 16.8px;
            color: #7c878e;
            .wechat {
                .w_0 {
                    color: #333;
                    margin-bottom: 5px;
                    font-weight: 700;
                    font-size: 18px;
                    line-height: 1.2em;
                }

                ul {
                    .first {
                        color: #00c40c;
                        img {
                            width: 22px;
                            float: right;
                            margin-right: 35px;
                        }
                    }
                }
            }
        }

        .right_1 {
            float: left;
            margin-left: 80px;
            font-size: 16.8px;
            color: #7c878e;
            .first {
                color: #333;
                margin-top: 0;
                margin-bottom: 5px;
                font-weight: 700;
                font-size: 18px;
                line-height: 1.2em;
            }
        }
        .right_2 {
            float: left;
            margin-left: 80px;
            font-size: 16.8px;
            color: #7c878e;
            .first {
                color: #333;
                margin-top: 0;
                margin-bottom: 5px;
                font-weight: 700;
                font-size: 18px;
                line-height: 1.2em;
            }
        }
    }

    .contact {
        width: 690px;
        padding: 10px 200px 40px 110px;
        margin: 0 10px;
        ul {
            overflow: hidden;
            li {
                float: left;
                width: 40px;
                height: 40px;
                margin-right: 15px;
                margin-bottom: 10px;
                background-size: 191px;
                background-image: url("../img/button_logo.png");
                border-radius: 50%;
                box-shadow: 0 9px 12px rgba(0, 0, 0, 0.16);
                &:nth-child(1) {
                    background-position: 0 0;
                }
                &:nth-child(2) {
                    background-position: -51px 0;
                }
                &:nth-child(3) {
                    background-position: -102px 0;
                }
            }
        }
        .reg {
            overflow: hidden;
            a {
                color: #cb5977;
                font-size: 16.8px;
            }
        }
        .right {
            float: right;
            a {
                font-size: 16.8px;
                color: #999;
            }
        }
    }
}

.footer {
    width: 100%;
    background: white;
    position: relative;
    text-align: center;
    padding-top: 10px;
    p {
        color:#333f48;
        font-size: 14px;
        margin-bottom: 10px;
    }
    .footer_top {
        position: absolute;
        top: -200px;
        left: 50%;
        transform: translate(-50%, 0);
        width: 131px;
        height: 131px;
    }
    .footer_bottom {
        width: 100px;
        height: 100px;
    }
}
