$width:1020px;
// content
.content_wrap{
    height: 550px;
    padding:60px;
    background-color: #ececec;
}

.content{
    height: 500px;
    width: $width;
    margin: 0 auto;
    overflow: hidden;
    background: white url("../img/login.jpg") no-repeat top left;
    .login{
        width: 280px;
        height: 430px;
        padding: 50px 40px 50px 680px;
        .top{
            overflow: hidden;
            i{
                font-size: 1.4em;
                float: left;
                font-style: normal;
            }
            a{
                margin-top: 5px;
                float: right;
                &:hover{
                    text-decoration: underline;;
                }
            }
        }
        .center{
            margin-top: 20px;
            input{
                width: 280px;
                height: 39px;
                padding: 12px 10px;
                box-sizing: border-box;
            }
            .country_code{
                border-radius: 2px;
                select{
                    display: block;
                    width: 280px;
                    height: 39px;
                    .opt{
                        display: block;
                        width: 280px;
                        height: 39px;
                    }
                }
            } 
            .phone{
                border-radius: 2px;
                margin-top: 10px;;
            }
            .code{
                border-radius: 2px;
                margin-top: 10px;;
            }
        }
    }
}

