@import "size.scss";

* {
    margin: 0;
    padding: 0;
    font-size: 14px;
}

body,
th,
tr {
    font-family: "Montserrat", "STHeiti", "Microsoft YaHei", Arial, sans-serif;
    font-weight: normal;
}

body,html{
    min-width: 1020px;
    width: 100%;
}

li {
    list-style: none;
}

a {
    color: #7c878e;
    text-decoration: none;
    font-size: 14px;
    &:hover {
        color: #cb5977;
    }
}

input {
    outline: none;
}
